[submodule "autopkg"]
	path = autopkg
	url = https://github.com/kacheproject/autopkg.git
[submodule "pkgs/sqlite"]
	path = pkgs/sqlite
	url = https://github.com/kacheproject/zig-sqlite.git
[submodule "pkgs/uri"]
	path = pkgs/uri
	url = https://github.com/kacheproject/zig-uri.git
